/*Gale-Website-Solutions Styles*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:  rgb(233, 238, 240);
    --secondary-color: rgb(59, 59, 59);
    --tertiary-color: rgb(137, 192, 194);
}
/*body styles begin*/
body {
    background-color: var(--primary-color)
} 
/*body styles end*/

/*header styles begin*/

header {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 36px;
    padding-left: 40px;
    padding-right: 10px;
    margin: 10px 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin-right: 40px;
    align-items: center;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li {
    border-bottom: 2px solid var(--tertiary-color);
    margin: 0 5px;
}

header nav ul li a {
    color: var(--tertiary-color);
    padding: 10px 0;
    font-size: 15px;
}
/*header style ends*/

/*banner styles begin*/
.banner {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../Images/Placeholder.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner h2 {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    margin: 15px 50px;
    padding: 3px 7px;
}
/*banner styles end*/

/*general styles begin*/
.section {
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary-color);
    margin: 30px 0;
}
.title {
    width: 300px;
    border-right: 2px solid var(--secondary-color);
    margin: 0 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
    font-size: 36px;
    top: 0;
}

.content {
    
}

/*general styles end*/


/*about me styles begin*/
/*about me styles end*/

/*work styles begin*/
/*work styles end*/

/*contact me styles begin*/
/*contact me styles end*/